* {
  box-sizing: border-box;
}

body {
  font-family: CircularStd, -apple-system, BlinkMacSystemFont, Roboto,
    sans-serif;
  color: #111;
  line-height: 1.75;
  font-size: 18px;
}

a {
  color: #4b36ff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fancy-list {
  list-style-type: square;
  margin-left: 1em;
}

a:active {
  color: #199cee;
}

.tight {
  line-height: 1;
}

.no-underline {
  text-decoration: none;
}

.container {
  max-width: 1024px;
  padding: 1rem;
}

.bg-gray {
  background: #e5e5e5;
}

.jumbo {
  font-size: 48px;
}

.project-image {
  height: auto;
}

.black {
  color: #111;
}

.dark-black {
  color: #111;
}

.gray {
  color: #999;
}

.red {
  color: #ff4136;
}

@media (min-width: 48rem) {
  .jumbo {
    font-size: 72px;
  }
}

.link {
  color: #16a974;
}

.bg-gray {
  background: "#d9e3ed";
}
