* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	color: #111;
	line-height: 1.75;
	font-size: 16px;
}


a {
	color: #ff4136;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.fancy-list {
	font-size: 14px;
	list-style-type: square;
	font-family: monospace;
	margin-left: 1em;
}

a:active {
	color: #199cee;
}

.tight {
	line-height: 1;
}

.no-underline {
	text-decoration: none;
}

.container {
	max-width: 650px;
}

.bg-gray {
	background: #e5e5e5;
}

.jumbo {
	font-size: 48px;
}

.project-image {
	height: auto;
}

.black {
	color: #111;
}

.dark-black {
	color: #111;
}

.gray {
	color: #999;
}

.red {
	color: #ff4136;
}

@media(min-width: 48rem) {
	
	.jumbo {
		font-size: 72px;
	}

}